*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* GRID LAYOUT */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "purchase contact";
}
.purchase-section {
    grid-area: purchase;
}
.contact-section {
    grid-area: contact;
}

picture:not(.show), img:not(.show) {
    position: absolute;
    width: 1px;
    top: -1px;
}