*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --color-1: #1D1D1F;
    --color-2: #394150;
    --color-3: #D2D5DA;
    --color-4: #F3F4F6;
    --color-5: #FFFFFF;
    --color-6: #E5E7EB;  
}

/* GRID LAYOUT */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "purchase contact";
}
.purchase-section {
    grid-area: purchase;
}
.contact-section {
    grid-area: contact;
}

.product {
    display: grid;
    grid-template-rows: 2em 2em 5em;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "picture    name        price" 
    "picture    colour      blank"
    "picture    amount      discard" ;
}
.product-picture {
    grid-area: picture;
}
.product-name {
    grid-area: name;
}
.product-color {
    grid-area: colour;
}
.product-amount {
    grid-area: amount;
}
.product-price {
    grid-area: price;
}
.product-remove {
    grid-area: discard;
}

/* NON-GRID LAYOUT */
.product-image {
    width: 100%;
    height: auto;   
}